body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  color: white;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.login-btn {
  background: rgb(255, 255, 255);
  color: #2575fc;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  display: flex;
  align-items:end;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5rem 8%;
  background: linear-gradient(135deg, #f0f4ff, #e8ecff);
}

.hero-text {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  padding-right: 2rem;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #1a1a2e;
  line-height: 1.2;
}

.hero-text .highlight {
  color: #6a11cb;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2rem;
  transition: none;
  -webkit-text-fill-color: transparent;
}

.hero-text p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #555;
}

.cta-btn {
  margin-top: 2rem;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  color: white;
  border: none;
  padding: 0.9rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.cta-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(37,117,252,0.4);
}

.hero-img {
  flex: 1;
  min-width: 320px;
  text-align: end;

}

.hero-img img {
  max-width: 60%;
  height: auto;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.hero-img img:hover { 
  box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
}


/* Features */
.features {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  padding: 4rem 5%;
  background: #fff;
  overflow-x: auto;
}

.feature-card {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  flex: 1;
  min-width: 200px;
  max-width: 280px;
}
.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
}

.feature-card img {
  width: 60px;
  margin-bottom: 1rem;
}


/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
}
.modal-content {
  background: white;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
}
.close {
  float: right;
  cursor: pointer;
  font-size: 1.5rem;
}
